<div class="container flex v-centered">
    <div class="flex column">
      <div class="logos flex">
        <a href="https://www.facebook.com/saba.joxadze.921"
          ><img [src]="imageUrls[0]" alt="img"
        /></a>
        <a href="https://www.instagram.com/joxazesaba/"
          ><img [src]="imageUrls[1]" alt="img"
        /></a>
        <a href="https://www.linkedin.com/in/saba-joxadze-4015b6264/"
          ><img [src]="imageUrls[2]" alt="img" />
        </a>
      </div>
    </div>
  </div>
  