<div class="container">
    <div class="desContainer">
      <div>
        <p>About</p>
      </div>
      <div class="description">
  
        <p>Front-End Angular Developer</p>
        <p>
          I have been studying Front-End for about a year. Lately I graduate from
          TBC IT Academy Angular Course. Now I Would like to know gain experience
          by working with real projects. I am passionate about Fron-End
          development and really like my field. <br>
          Skills:
          Html, Css, Scss, Javascript, Typescript, Angular, Npm, Git, Java, Python
      </p>
        
        <div class="data">
          <div class="datacontainer">
            <div class="single-data">
              <img src="../assets/5562272.png" alt="img" />
              <span>20 years</span>
            </div>
            <div class="single-data">
              <img src="../assets/address.png" alt="img" />
              <span>Georgia, Tbilisi</span>
            </div>
          </div>
          <div class="datacontainer">
            <div class="single-data">
              <img src="../assets/email.png" alt="img" />
              <a href="mailto:saba.joxadze.04@gmail.com"
                >saba.joxadze.04@gmail.com
              </a>
            </div>
            <div class="single-data">
              <img src="../assets/education.png" alt="img" />
              <span>TBC IT ACADEMY, KIU, GTU</span>
            </div>
          </div>
          <div class="datacontainer">
          <div class="single-data">
            <img src="../assets/linkedin.png" alt="img" />
            <a
              href="https://www.linkedin.com/in/saba-joxadze-4015b6264/"
              target="_blank"
              >LinkedIn</a
            >
          </div>
          <div class="single-data">
            <img src="../assets/github.png" alt="img" />
            <a href="https://github.com/jokhadzesaba" target="_blank">Github</a>
          </div>
      </div>
        </div>
      </div>
    </div>
  </div>
  