<div
  [ngClass]="(mode.mode | async) ? 'container modedark' : 'container modelight'"
>
  <div class="desContainer">
    <div class="about">
      <span>A</span>
      <span>B</span>
      <span>O</span>
      <span>U</span>
      <span>T&nbsp;</span>
      <span>M</span>
      <span>E</span>
      <span>!</span>
    </div>
    <div class="description">
      <p>Front-End Angular Developer</p>
      <p>
        Hello there! I'm Saba Jokhadze, a 20-year-old aspiring developer based in
        the vibrant city of Tbilisi. Currently a student at Georgian Technical
        University, my journey into the world of technology began at Kutaisi
        International University, where I delved into the fundamentals of
        computer science. <br> <br> During my time in Kutaisi, I built a strong foundation
        in programming, mastering languages such as Java and Python,
        understanding Object-Oriented Programming (OOP) concepts, and working
        with databases using MySQL. Eager to expand my skill set, I made the
        move to Georgian Technical University, where I continue to explore the
        ever-evolving field of computer science. <br><br> But my learning journey didn't
        stop there. I undertook a rigorous 5-month course at
        <a target="_blank" href="assets/image001.png"
          >TBC IT Academy - Angular Course(click).</a
        >, immersing myself in a wide range of technologies. From front-end
        essentials like HTML, CSS, and JavaScript (including TypeScript) to
        version control with Git, package management with npm, and diving into
        frameworks like Angular and Angular CLI. Additionally, I gained hands-on
        experience working with APIs and even explored the fascinating world of
        Firebase. <br> <br> Coding is more than just a skill for me; it's a passion. I
        thrive on solving challenging problems and turning ideas into
        functional, elegant solutions. Whether it's crafting clean code or
        embracing the latest technologies, I'm always up for the challenge.
        <br />
      </p>

      <div class="data">
        <div>
          <img [src]="imgUrls[0]" alt="img" />
          <span>20 years</span>
        </div>
        <div>
          <img [src]="imgUrls[1]" alt="img" />
          <span>Georgia, Tbilisi</span>
        </div>
        <div>
          <img [src]="imgUrls[2]" alt="img" />
          <a href="mailto:saba.joxadze.04@gmail.com"
            >saba.joxadze.04@gmail.com
          </a>
        </div>
        <div>
          <img [src]="imgUrls[3]" alt="img" />
          <a [href]="imgUrls[6]" target="_blank">TBC IT ACADEMY,</a>
          <span>KIU, GTU</span>
        </div>
        <div>
          <img [src]="imgUrls[4]" alt="img" />
          <a
            href="https://www.linkedin.com/in/saba-joxadze-4015b6264/"
            target="_blank"
            >LinkedIn</a
          >
        </div>
        <div>
          <img [src]="imgUrls[5]" alt="img" />
          <a href="https://github.com/jokhadzesaba" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
