.container {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
    > .desContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      height: 400px;
      > div:first-of-type {
        > p {
          color: rgb(26, 24, 24);
          font-size: xx-large;
          text-decoration: underline;
          text-underline-offset: 0.2em;
        }
      }
      > .description {
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 100%;
        .data{
          display: grid;
          grid-template-rows: repeat(3, 1fr); 
          grid-template-columns: repeat(2, 1fr);  
          row-gap: 20px;
          span{
            font-size: 20px;
            color: rgb(85, 139, 141);
            width: fit-content;
          }
          >div{
            display: flex;
            align-items: center;
            >a{
              margin-left: 5px;
            }
          }
          >div:nth-child(4){
            >a{
              width: 170px;
            }
          }
        }
        img {
          width: 40px;
          height: 40px;
        }
        a {
          text-decoration: none;
        }
        a:hover{
          color: rgb(0, 0, 255);
        }

        > p,
        a {
          width: 100%;
          color: rgb(85, 139, 141);
          font-size: 20px;
        }
        > p:first-of-type {
          font-size: x-large;
          margin-bottom: 20px;
        }
        > p:last-of-type {
          margin-bottom: 40px;
        }
      }
      
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 800px) {
    .container{
      height: 700px;
      >.desContainer{
        >.description{
          .data{
            display: flex;
            flex-direction: column;
            gap:20px
          }
        }
      }
    }
    
  }
