
<div
  [ngClass]="(mode.mode | async) ? 'container modedark' : 'container modelight'"
>
  <div class="skills">
    <div>HTML</div>
    <div>CSS</div>
    <div>SCSS</div>
    <div>JAVASCRIPT</div>
    <div>TYPESCRIPT</div>
    <div>ANGULAR</div>
    <div>RXJS</div>
    <div>NPM</div>
    <div>GIT</div>
    <div>ANGULAR CLI</div>
    <div>JAVA</div>
    <div>PYTHON</div>
    <div>MYSQL</div>
    <div>REACT</div>
    <div>API</div>
  </div>
    <a href="assets/cvSabaJOkhadze.pdf" target="_blank">See My Cv</a>
    <object data="assets/cvSabaJOkhadze.pdf" type="application/pdf"></object>

</div>
