<div
  [ngClass]="(mode.mode | async) ? 'container modedark' : 'container modelight'"
>
  <div class="infoContainer">
    <div class="text">
      <span style="font-size: xx-large">P</span>
      <span style="font-size: xx-large">R</span>
      <span style="font-size: xx-large">O</span>
      <span style="font-size: xx-large">J</span>
      <span style="font-size: xx-large">E</span>
      <span style="font-size: xx-large">C</span>
      <span style="font-size: xx-large">T</span>
      <span style="font-size: xx-large">S</span>
    </div>
    <div class="type">
      <div class="text">
        <span>F</span>
        <span>R</span>
        <span>O</span>
        <span>N</span>
        <span>T</span>
        <span>-</span>
        <span>E</span>
        <span>N</span>
        <span>D</span>
      </div>
      <div class="projects">
        <div
          [ngClass]="
            (mode.mode | async) ? 'project projectdark' : 'project projectlight'
          "
        >
          <img src="assets/pr1.jpg" alt="img" />
          <div>
            <p>Angular Fitness App(responsive)</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/final-project-angular"
              >Source Code</a
            >
            <a
              href="https://jokhadzesaba.github.io/exercise-app"
              target="_blank"
              >See Project</a
            >
          </div>
        </div>
        <div
          [ngClass]="
            (mode.mode | async) ? 'project projectdark' : 'project projectlight'
          "
        >
          <img src="assets/weather.png" alt="img" />
          <div>
            <p>Angular Weather App</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/weatherApp">Source Code</a>
            <a
              href="https://jokhadzesaba.github.io/weatherAppBuild/"
              target="_blank"
              >See Project</a
            >
          </div>
        </div>
        <div
        [ngClass]="
          (mode.mode | async) ? 'project projectdark' : 'project projectlight'
        "
      >
        <img src="assets/hangman.png" alt="img" />
        <div>
          <p>Angular Hangman Game</p>
        </div>
        <div class="buttons">
          <a href="https://github.com/jokhadzesaba/hangman-angular">Source Code</a>
          <a
            href="https://jokhadzesaba.github.io/hangman-angular/"
            target="_blank"
            >See Project</a
          >
        </div>
      </div>
        <div
          [ngClass]="
            (mode.mode | async) ? 'project projectdark' : 'project projectlight'
          "
        >
          <img src="assets/pr2.png" alt="img" />
          <div>
            <p>Html/Css Project</p>
          </div>
          <div class="buttons">
            <a
              href="https://github.com/jokhadzesaba/html-css-project"
              target="_blank"
              >Source Code</a
            >
            <a
              href="https://jokhadzesaba.github.io/html-css-project/"
              target="_blank"
              >See Project</a
            >
          </div>
        </div>
        <div
          [ngClass]="
            (mode.mode | async) ? 'project projectdark' : 'project projectlight'
          "
        >
          <img src="assets/pr3.png" alt="img" />
          <div>
            <p>Html/Scss Project(responsive)</p>
          </div>
          <div class="buttons">
            <a
              href="https://github.com/jokhadzesaba/personal-project-scss"
              target="_blank"
              >Source Code</a
            >
            <a
              href="https://jokhadzesaba.github.io/personal-project-scss/"
              target="_blank"
              >See Project</a
            >
          </div>
        </div>
        <div
          [ngClass]="
            (mode.mode | async) ? 'project projectdark' : 'project projectlight'
          "
        >
          <img src="assets/tictactoe.jpg" alt="img" />
          <div>
            <p>Angular tic-tac-toe</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/tictactoe-angular"
              >Source Code</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="java type">
      <div class="text">
        <span>J</span>
        <span>A</span>
        <span>V</span>
        <span>A</span>
      </div>
      <div>
        <a href="https://github.com/jokhadzesaba/PinguChat"
          >https://github.com/jokhadzesaba/PinguChat</a
        >
        <a href="https://github.com/jokhadzesaba/Indexed_Trees"
          >https://github.com/jokhadzesaba/Indexed_Trees</a
        >
        <a href="https://github.com/jokhadzesaba/PemguinAndCompany"
          >https://github.com/jokhadzesaba/PemguinAndCompany</a
        >
        <a href="https://github.com/jokhadzesaba/HungryPingu"
          >https://github.com/jokhadzesaba/HungryPingu</a
        >
        <a href="https://github.com/jokhadzesaba/Spotijy"
          >https://github.com/jokhadzesaba/Spotijy</a
        >
      </div>
    </div>
    <div class="python type">
      <div class="text">
        <span>P</span>
        <span>Y</span>
        <span>T</span>
        <span>H</span>
        <span>O</span>
        <span>N</span>
      </div>
      <div>
        <a href="https://github.com/jokhadzesaba/hangman-py"
          >https://github.com/jokhadzesaba/hangman-py</a
        >
        <a href="https://github.com/jokhadzesaba/spotiPy"
          >https://github.com/jokhadzesaba/spotiPy</a
        >
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
    <div class="js type">
      <div class="text">
        <span>J</span>
        <span>A</span>
        <span>V</span>
        <span>A</span>
        <span>S</span>
        <span>C</span>
        <span>R</span>
        <span>I</span>
        <span>P</span>
        <span>T</span>
      </div>
      <div>
        <a href="https://github.com/jokhadzesaba/personal-project-js"
          >https://github.com/jokhadzesaba/personal-project-js(TypeScript
          version on ts brench)</a
        >
        <a href="https://github.com/jokhadzesaba/js-homeworks"
          >https://github.com/jokhadzesaba/js-homeworks(small tasks)</a
        >
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
  </div>
</div>
