<div class="container">
    <div class="infoContainer">
      <p>Portfolio</p>
      <div class="projects">
        <div class="project">
          <img [src]="imgUrls[0]" alt="img" />
          <div>
            <p>Angular Fitness tracker App</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/final-project-angular">Source Code</a>
            <a href="https://jokhadzesaba.github.io/exercise-app" target="_blank">See Project</a>       
          </div>
        </div>
        <div class="project">
          <img [src]="imgUrls[1]" alt="img" />
          <div>
            <p>Html/Css Project</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/html-css-project" target="_blank">Source Code</a>
            <a href="https://jokhadzesaba.github.io/html-css-project/" target="_blank">See Project</a>
          </div>
        </div>
        <div class="project">
          <img [src]="imgUrls[2]" alt="img" />
          <div>
            <p>Html/Scss Project</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/personal-project-scss" target="_blank">Source Code</a>
            <a href="https://jokhadzesaba.github.io/personal-project-scss/" target="_blank">See Project</a>
          </div>
        </div>
        <div class="project">
          <img [src]="imgUrls[3]" alt="">
          <div>
            <p>Angular tic-tac-toe</p>
          </div>
          <div class="buttons">
            <a href="https://github.com/jokhadzesaba/tictactoe-angular">Source Code</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  