.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    > .infoContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;
      >p{
          font-size:xx-large;
          text-decoration: underline;
          text-underline-offset: 0.2em;
      }
      > .projects {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content:space-around;
        .project {
          width: 250px;
          border: 1px rgb(116, 93, 93) solid;
          background-color: rgb(173, 204, 194);
          p {
            font-size: 20px;
            margin-bottom: 10px;
          }
          img {
            width: 248px;
            height: 300px;
          }
          > .buttons {
            display: flex;
            justify-content: space-around;
            > a {
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              background-color: #007bff;
              border-radius: 5px;
              color: white;
              width: 100px;
              height: 40px;
              border: none;
              font-size: 16px;
            }
            >a:last-child{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 650px){
    .container{
      margin-top: 260px;
    }
  }