.modelight{
  background-color: #B2D2DB;
}
.modedark{
  background-color: rgb(46,39,39);
}
.projectlight{
  background-color: #8bc2d1;
  color: black;
}
.projectdark{
  color: #007bff;
  background-color: rgb(19, 17, 17);
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  > .infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    .text{
      display: flex;
      >span{
        transition: margin 0.3s, color 0.3s;
        color: #1B9BC6;
        font-size: 18px;
        &:hover{
          margin-top: -30px;
          color: rgb(192, 169, 169);
        }
      }
    }
    
    > p {
      font-size: xx-large;
      text-decoration: underline;
      text-underline-offset: 0.2em;
    }

    > .type {
      a{
        text-decoration: none;
        color: blue;
      }
      >h2{
        margin-bottom: 20px;
      }
      > .projects {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        .project {
          width: 250px;
          border: 1px none solid;
          border-radius: 3px;
          margin-top: 30px;
          text-align: center;

          p {
            font-size: 18px;
            margin-bottom: 10px;
          }
          img {
            width: 250px;
            height: 300px;
          }

          > .buttons {
            display: flex;
            justify-content: space-around;
            > a:hover {
              background-color: #064c96;
            }
            > a {
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              background-color: #007bff;
              border-radius: 5px;
              color: white;
              width: 100px;
              height: 40px;
              border: none;
              font-size: 16px;
            }
            > a:last-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .java, .python, .js{
      >div:nth-child(2){
        display: flex;
        flex-direction: column;
        a{
          font-size: 20px;
          word-wrap: break-word;
        }
        
      }
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {

}
@media screen and (min-width: 400px) and (max-width: 700px) {}

@media screen and (min-width: 700px) and (max-width: 800px) {

}
