.container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    
    >div:first-child{
      img{
        width: 500px;
        height: 400px;
      }
    }
    >div:last-child{
      padding: 40px;
      padding-top: 60px;
      text-align: center;
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 790px){
    .container{
      width: 100%;
      >div:first-child{
        display: none;
      }
    }
  
  }